#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--black);
  // background-color: red;
  z-index: 20;
  transition:  0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
  transform: translateX(-100%);
  overflow-y: hidden; /* Oculta la barra de desplazamiento inicialmente */

  @media screen and (min-width: 850px) {
    // position: absolute;
    transform: translateX(0%);
  }
}
#sidebar:hover {
  overflow-y: auto; /* Muestra la barra de desplazamiento cuando la clase show-scrollbar está presente */
}

#sidebar.hide {
  transform: translateX(0%);
  @media screen and (min-width: 850px) {
    width: 60px;
  }
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  //! ojo
  // height: 48px;
  background: transparent;
  padding: 4px;
  list-style: none;
}
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li a {
  width: 100%;
  // height: 100%;
  // background: var(--light);
  //!!!
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--dark);
  font-weight: 400;
  white-space: nowrap;
  overflow-x: hidden;
  text-decoration: none;
  cursor: pointer;
}

#sidebar .side-menu li a.router-link-active {
  color: var(--white);
  font-weight: 400;
  background-color: var(--blue);
  border-radius: var(--bs-border-radius);
}

#sidebar.hide .side-menu li a {
  transition: width 0.3s ease;

  @media screen and (min-width: 850px) {
    width: calc(48px - (4px * 2));
  }
}

#sidebar .side-menu.top li a:hover {
  color: var(--blue);
  background-color: var(--color-primary-hover);
  border-radius: var(--bs-border-radius);
}

#sidebar .side-menu li a.router-link-active:hover {
  color: var(--white);
  font-weight: 400;
  background-color: var(--blue);
  border-radius: var(--bs-border-radius);
}

#sidebar .side-menu li a i {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

.button-collapse {
  width: 100%;
  background-color: transparent;
  color: var(--dark); //var(--grey)
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  border-radius: var(--bs-border-radius);
  font-size: 16px;
  white-space: nowrap;
  overflow-x: hidden;
  text-decoration: none;
  transition: width 0.3s ease;
}

.button-collapse:hover {
  background-color: var(--color-primary-hover);
  color: var(--blue);
  --arrow: var(--blue);
}

.button-collapse[aria-expanded='false']::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 1.5px;

  border-right: 2px solid var(--arrow);
  border-left: 2px solid transparent;
  border-top: 2px solid var(--arrow);
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
}

.button-collapse[aria-expanded='true']::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 1.5px;

  border-right: 2px solid var(--arrow);
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid var(--arrow);
  transform: rotate(45deg);
}

#sidebar.hide .button-collapse {
  padding: 8px 14px;
  @media screen and (min-width: 850px) {
    width: calc(48px - (4px * 2));
  }
}

.list-collapse {
  margin-left: 5px;
}

#sidebar.hide .list-collapse {
  margin: 0;
  padding: 0;
}
