/* You can add global styles to this file, and also import other style files */
@import "styles/bootswatch-theme.css";
@import "styles/select-theme.css";
:root {
  //rgba(52, 89, 232, 1)
  --color-primary: #fefffe;
  --color-primary-hover: rgb(225, 243, 254);
  --arrow: #2b2a2a;
  --blue: rgba(52, 89, 232, 1);
  --navbar: #fbfafc;
  --white: #ffffff;
  --light: #f0f4f7;
  --black: #2b2a2a;
}

body {
  font-family: system-ui;
  // font-size: 18px;
}


.tabla{
  height: 430px;
}
